body{
    background:red;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
}
@page{
    margin: 0;
    size: A4;
}
#printBtn, #goBack{
    display: none;
    visibility: none;
}
